README-Vanessa.md
scrapping_thread.cpython-314.pyc

properties.csv
/src/__pycache__/

parsing_thread.cpython-314.pyc
__pycache__/

data/internal/checkpoint.json
data/internal/failed_urls*
data/internal/scraping_errors*